.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.searchbar {
  border: 1px solid #dddddd;
  border-radius: 4px;
  width: 246px;
  height: 40px;
  display: flex;
}
.inputsearch {
  outline: 0;
  border: none;
  padding-left: 25px;
}
.topDiv {
  height: 56px;
  background-color: #f5f5f5;
}
.dateDiv {
  fontsize: 12px;
  line-height: 16px;
  text-align: right;
  font-weight: 600;
  font-family: "Montserrat";
  padding-top: 20px;
  padding-right: 20px;
}

.calendarRange {
  position: absolute;
  z-index: 50;
  padding-top: 25px;
  padding-left: 270px;
}

.middleDiv {
  display: flex;
  flex-direction: row;
  padding-left: 15px;
  padding-top: 15px;
}
.midFirstDiv {
  width: 300px;
  height: 542px;
  display: flex;
  flex-direction: column;
  position: absolute;
}
.midImg {
  position: absolute;
  max-width: 300px;
  max-height: 472px;
}
.midSecImg {
  position: absolute;
  max-width: 300px;
  max-height: 472px;

  padding-left: 120px;
}
.midSubdiv {
  display: flex;
  flex-direction: row;
}
.midSubSecdiv {
  display: flex;
  flex-direction: row;
  padding-left: 120px;
}
.midGraphTitle {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  position: absolute;
  padding-top: 22px;
  padding-left: 20px;
}
.midSmallBox {
  padding-left: 240px;
  padding-top: 22px;
  position: absolute;
}
.midFirstGraph {
  position: absolute;
  padding-top: 70px;
  /* padding-left: 27px; */
  z-index: 5;
}
.midSecDiv {
  width: 300px;
  height: 542px;
  padding-left: 200px;
  display: flex;
  flex-direction: column;
  position: absolute;
}
.midBase {
  position: absolute;
}
.midBaseFill {
  padding-left: 10px;
}

.midSecGraph {
  position: absolute;
  z-index: 5;
  padding-top: 55px;
}

.midThirdDiv {
  position: absolute;
  width: 328px;
  height: 542px;
  padding-left: 640px;
  display: flex;
  flex-direction: column;
}
.midThirdImg {
  position: absolute;
  max-width: 590px;
  height: 432px;
}
.midThirdGraph {
  position: absolute;
  padding-top: 70px;
  padding-left: 20px;
  z-index: 5;
}

.bottomDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.calendarDiv {
  width: 400px;
  height: 425px;
  padding-left: 15px;
  margin-top: 470px;
  display: flex;
  z-index: 5;
  border: 1px solid #e5e5e5;
  justify-content: center;
  padding-top: 33px;
  border-radius: 4px;
}
.outerOrderDiv {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding-top: 470px;
  padding-left: 450px;
}

.orderDiv {
  font-weight: bold;
  font-size: 24px;
  line-height: 132%;
  font-family: "Montserrat";
  color: #333333;
}
.tablediv {
  width: 750px;
  padding-top: 20px;
}
.tablesubdiv {
  display: flex;
  flex-direction: column;
}
.tableheadfont {
  font-weight: 600;
  font-size: 16px;
  font-family: "Montserrat";
  line-height: 20px;
  color: #333333;
  width: 151px;
  display: flex;
  padding-left: 10px;
}
.tablebodyfont {
  font-weight: 400;
  font-size: 14px;
  font-family: "Encode Sans";
  line-height: 20px;
  display: flex;
  flex-wrap: wrap;
  word-break: break-word;
  width: 150px;
  padding-right: 10px;
}
.tableborder {
  border-top: 1px solid #f5f5f5;
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 56px;
}
.tableheadborder {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f5f5f5;
  height: 56px;
  border-bottom: 1px solid gray;
}

.tableStatusSect {
  height: 24px;
  width: 95.5px;
  background-color: #e69849;
  color: #ffffff;
  padding-left: 10px;
  padding-top: 6px;
  border-radius: 4px;
}
.tableStatusSecSect {
  height: 24px;
  width: 95.5px;
  background-color: #789764;
  color: #ffffff;
  padding-left: 10px;
  padding-top: 6px;
  border-radius: 4px;
}
.tableStatusThirdSect {
  height: 24px;
  width: 95.5px;
  background-color: #d66d4b;
  color: #ffffff;
  padding-left: 10px;
  padding-top: 6px;
  border-radius: 4px;
}

.cancelbtn {
  width: 96px;
  height: 32px;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  position: absolute;
  margin-left: 55px;
  z-index: 5;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.25px;
  outline: 0;

  color: #333333;
}

.filterbtn {
  width: 96px;
  height: 32px;
  border-radius: 4px;
  background-color: #82c341;
  position: absolute;
  margin-left: 175px;
  z-index: 5;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.25px;
  border: none;
  outline: 0;

  color: #333333;
}

.totalrev {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  padding-top: 380px;
  padding-left: 35px;

  display: flex;
  align-items: center;
  letter-spacing: 0.4px;
  position: absolute;
  color: #9c9c9c;
}

.numrev {
  ont-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 132%;

  display: flex;
  align-items: center;
  position: absolute;
  padding-left: 35px;
  padding-top: 390px;
  color: #333333;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
